[package]
name = "fp"
version = "0.1.0"
authors = ["Team Fiberplane"]
edition = "2018"
about = "A cli to interact with the Fiberplane service"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "3.0.0-beta.2"
fiberplane = { git = "ssh://git@github.com/fiberplane/fiberplane-rs.git", branch = "main"  }
futures-util = "0.3"
reqwest = { version = "0.11.0", features = ["json"] }
serde = { version = "1.0.123", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1", features = ["full"] }
tokio-tungstenite = { version ="0.14", features = ["rustls-tls"] }
toml = "0.5.8"
url = "2.2"
